.buy-ticket-2 {
  margin-top: 2rem;
}

.contact-section {

  .card {
    .card-body {
      .text-uppercase {
        padding-top: 16px;
      }
    }
  }
}

.signup-section {
  h2 {
    margin-bottom: 24px !important;
  }
  .tag-line {
    color: white;
  }
}

.social-icon-card {

  background: rgba(0, 123, 255, 1);
  padding: 10px;
  border-radius: 3px;

  img {
    width: 36px;
  }
}
