.buy-ticket-2 {
  margin-top: 2rem;
}

.contact-section {

  .card {
    .card-body {
      .text-uppercase {
        padding-top: 16px;
      }
    }
  }
}

.signup-section {
  h2 {
    margin-bottom: 24px !important;
  }
  .tag-line {
    color: white;
  }
}
