

  <div id="page-top">

    <!-- Navigation -->
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Lord When Will I Get My Rose?</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">January 12, 2019</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger buy-ticket-1">Get Your Ticket Now!</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center" #about>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Lord When Will I Get My Rose?</h2>
            <p class="text-white-50">
              You don't want to miss this heartfelt gospel stage play that tells the story of 30 year old Latisha Johnson,
              a single mother who is a very educated, successful, self sufficient, Christian woman but tired of being alone.
              Latisha spends all of her time raising her two sons, working in upper management at a very prominent company and
              as the church clerk but she has come to a place in her life she is ready to settle down and be married but is
              tired of waiting on the Lord for the spouse he ordained for her. Since God isn't moving fast enough join us on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">January 12, 2019</a> to see what happens when
              Latisha takes matters into her own hands and what the outcome is going to be.
              <br>
              <a href="#signup" class="btn btn-primary js-scroll-trigger buy-ticket-2">Get Your Ticket Now!</a>
          </div>

        </div>
        <img src="/assets/ipad2.png" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="author" class="projects-section bg-light" #author>
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="/assets/author.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>The Author</h4>
              <p class="text-black-50 mb-0">
                Adeleane Dixon is the 9th child of the late Rev. John T and Mrs Mamie L. Haymon of Penney Farms, Fl.
                She has been married to her College sweetheart for 30 years and they were blessed with four children Victoria, Christina, Martin Jr. and Marlin.
                They have six grandchildren whom she refers to as her "Six Heartbeats".
                She has been a passionate writer since the age of 15 and is the founder of the
                Morning Visions Productions Co in which she takes pride in introducing children to the performing arts.
                She is the writer, producer, director of several hit gospel stage plays.
              </p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="/assets/book.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Literary Works</h4>
                  <p class="mb-0 text-white-50">
                    Adeleane Dixon is the co-author of <strong>50 Shades of Change</strong> and author of <strong>What happened to my Rock?</strong>
                    the story of the emotional journey she experienced while caring for her parents who had Alzheimer's and Dementia.
                    The book will be in bookstores in the Spring of 2019.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="/assets/theater.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Theatrical Productions</h4>
                  <p class="mb-0 text-white-50">
                    Adeleane is the writer, producer, director of the hit gospel stage play <strong>The a Time Is Now; the play the will preach</strong>,
                    the black history stage play <strong>The Blood Crying From the Ground; A story of sacrifice from Slavery to Freedom</strong> and now the soon to
                    be blockbuster hit play <strong>Lord When Will I Get My Rose?</strong>
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section" #signup>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <fa-icon [icon]="['fas', 'paper-plane']" style="color:white;" size="3x"></fa-icon>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <fa-icon [icon]="['fas', 'ticket-alt']" size="3x" class="text-primary card-icon-blue"></fa-icon>
                <h4 class="text-uppercase m-0">Event</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  Location of Play
                  <br>
                  January 12, 2019
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <fa-icon [icon]="['fas', 'envelope']" size="3x" class="text-primary card-icon-blue"></fa-icon>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">your@email.address</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <fa-icon [icon]="['fas', 'mobile-alt']" size="3x" class="text-primary card-icon-blue"></fa-icon>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+1 (555) 902-8832</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Morning Vision Productions 2018
      </div>
    </footer>

  </div>


